.favourites__container {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-medium-width) {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: start;
  }
}

.favourites__title {
  @media (max-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.favourites__list {
  margin-bottom: 50px;
  display: flex;
  gap: 10px 20px;

  @media (max-width: $tablet-width) {
    margin-bottom: 32px;
    overflow-x: auto;
  }
}

.favourites__item {
  position: relative;
  overflow: hidden;
  border-radius: 32px;

  @media (max-width: $tablet-width) {
    flex: 1 0 285px;
  }
}

.favourites__item:hover .favourites__wrapper {
  top: 0;

  @media (max-width: $tablet-medium-width) {
    top: 80%;
  }
}

.favourites__item:hover .favourites__star {
  opacity: 0;
}

.favourites__img {
  display: block;
}

.favourites__star {
  padding: 8px;
  padding-left: 36px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 129%;
  position: absolute;
  top: 50px;
  right: 0;
  color: $button;
  backdrop-filter: blur(4px);
  background: rgba($main-light, 0.4);
  border-radius: 4px 0 0 4px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 16px;
    top: 8px;
    left: 12px;
    background-image: url("../icons/sprite.svg#star");
  }

  @media (max-width: $tablet-width) {
    top: 36px;
  }
}

.favourites__wrapper {
  padding: 30px 32px 20px;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  color: $main-light;
  backdrop-filter: blur(6px);
  background: rgba($main-bg, 0.2);
  border-radius: 32px;
  transition: all 0.9s;

  @media (max-width: $desktop-width) {
    padding: 24px;
  }

  @media (max-width: $tablet-medium-width) {
    padding: 16px;
  }

  @media (max-width: $tablet-width) {
    padding: 20px 24px;
  }
}

.favourites__preview-box {
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px 0 0 4px;

  @media (max-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.favourites__title-card {
  margin: 0;
  line-height: 120%;

  @media (max-width: $desktop-width) {
    font-size: 1.3125rem;
  }

  @media (max-width: $tablet-medium-width) {
    font-size: 1.125rem;
  }
}

.favourites__text-card {
  margin: 0;
  font-size: 0.875rem;
  line-height: 129%;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.favourites__hidden {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.favourites__price {
  margin: 0;
  padding: 8px 16px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  background-color: rgba($main-bg, 0.3);
  border-radius: 4px;

  @media (max-width: $desktop-width) {
    padding: 8px;
    font-size: 1.125rem;
  }

  @media (max-width: $tablet-medium-width) {
    font-size: 1.125rem;
  }

  @media (max-width: $tablet-medium-width) {
    font-size: 1rem;
  }
}

.favourites__description {
  margin: 0;
  line-height: 150%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;

  @media (max-width: $desktop-width) {
    -webkit-line-clamp: 9;
  }
}

.favourites__link {
  margin-top: auto;
  padding: 12px 18px;
}

.favourites__item:focus-visible .favourites__link {
}
