.favourites__container {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-medium-width) {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.favourites__list {
  margin-bottom: 50px;
  display: flex;
  gap: 10px 20px;
}

.favourites__item {
  position: relative;
  overflow: hidden;
  border-radius: 32px;
}

.favourites__item:hover .favourites__wrapper {
  overflow: visible;
  transform: translateY(-80%);
}

.favourites__item:hover .favourites__star {
  opacity: 0;
}

.favourites__img {
  display: block;
}

.favourites__star {
  padding: 8px;
  padding-left: 36px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 129%;
  position: absolute;
  top: 50px;
  right: 0;
  color: $button;
  backdrop-filter: blur(4px);
  background: rgba($main-light, 0.4);
  border-radius: 4px 0 0 4px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 16px;
    top: 8px;
    left: 12px;
    background-image: url("../icons/sprite.svg#star");
  }
}

//осталось поправить при разных размерах экрана масшатб и под мобилку полностью поправить весь контент

.favourites__wrapper {
  padding: 30px 32px 20px;
  position: absolute;
  top: 80%;
  color: $main-light;
  backdrop-filter: blur(6px);
  background: rgba($main-bg, 0.2);
  border-radius: 32px;
  transform: translateY(0);
  transition: transform 0.9s;

  @media (max-width: $desktop-width) {
    padding: 24px;
  }
}

.favourites__preview-box {
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px 0 0 4px;
}

.favourites__title-card {
  margin: 0;
  line-height: 120%;

  @media (max-width: $desktop-width) {
    font-size: 1.3125rem;
  }

  @media (max-width: $tablet-medium-width) {
    font-size: 1.125rem;
  }
}

.favourites__text {
  margin: 0;
  font-size: 0.875rem;
  line-height: 129%;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.favourites__price {
  margin: 0;
  padding: 8px 16px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  background-color: rgba($main-bg, 0.3);
  border-radius: 4px;

  @media (max-width: $desktop-width) {
    padding: 8px;
    font-size: 1.125rem;
  }

  @media (max-width: $tablet-medium-width) {
    font-size: 1.125rem;
  }
}

.favourites__description {
  margin: 0;
  margin-bottom: 56px;
  line-height: 150%;
}

.favourites__link {
  padding: 12px 18px;
}
