.header__container {
  background-color: $main-dark;

  outline: 2px solid red;
}

.header__nav {
  outline: 3px solid salmon;

  margin-top: 16px;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
  }
}
