//WIDTH
$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 576px;

//COLOR
$main-light: #fdfdfd;
$main-dark: #18121e;
$preview-text: #f2be22;
$button: #1a3e3e;
$main-bg: #ffffff;
$section-bg: #f3f5f4;
